<head>
  <meta charset="utf-8">
  <title>mofacts_app</title>
  <!-- Using mizzao:bootstrap-3 for bootstrap now
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="/styles/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <style>
    body {
        /* Handle fixed navbars at bottom of page */
        padding-bottom: 60px;
    }
  </style>
</head>

<body>
  {{#Layout template="DefaultLayout"}}
  {{/Layout}}
  <!-- Using mizzao:bootstrap-3 for bootstrap now
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
</body>

<template name="DefaultLayout">
  <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarRight">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">MoFaCTS
                {{#if isLoggedIn}}
                  {{#if isInRole 'admin,teacher'}}
                      {{#if isInRole 'admin'}} Administrator {{/if}}
                      {{#if isInRole 'teacher'}} Teacher {{/if}}
                  {{else}}
                      Student
                  {{/if}}
                {{/if}}
              </a>
          </div>  <!-- close header -->

          {{#if isLoggedIn}}
          <div id="navbarRight" class="nav navbar-nav navbar-right">
              <TABLE BORDER="0">
                  {{#if inPracticeModule}}
                  <td style="line-height:50px;"><s1>Score:</s1>&nbsp;<span class="badge">{{currentScore}}</span></td>
                  <td>&nbsp;</td>
                  {{/if}}
                  <td style="line-height:50px;"><s1>{{username}}</s1></td>
                  <td>&nbsp;</td>    <td>&nbsp;</td>
                  {{#if isNormal}}
                  <td><button type="button" id="homeButton" class="button btn  navbar-btn">Practice</button></td>
                  <td>&nbsp;</td>
                  <td><button type="button" id="progressButton" class="button btn  navbar-btn">Progress</button></td>
                  <td>&nbsp;</td>
                  <td><button type="button" id="logoutButton" class="button btn  navbar-btn">Logout</button></td>
                  {{/if}}
              </table>
          </div>  <!-- close navbar-collapse -->
          {{/if}}
      </div>  <!-- close container -->
  </nav>  <!-- close nav -->
  <!-- main page content -->
  {{> yield}}
</template>
