<template name="allStudents">
  <div class="container" id="studentButtonContainer">
    <legend class="text-center">All Students</legend>
		<div class="container">
			{{#each student in students}}
			<div class='col-sm-3 col-md-3 col-lg-3 text-center'><br>
				<input type="button" class="btn btn-block studentButton" id="{{student._id}}" value="{{student.username}}" style="background-color: {{student.buttonColor}};">
			</div>
			{{/each}}
		</div>
	</div>

</template>
