<template name="card">
    <div class="container" id="cardContainer">
        <div class="scrollHistoryContainer">
            {{#if haveScrollList}}
            {{#each scrollList}}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                    <div class="panel">
                        <div class="panel-heading bg-primary">{{question}}</div>
                        <div class="panel-body {{#if userCorrect}}bg-success{{/if}} {{#unless userCorrect}}bg-danger{{/unless}}">{{answer}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>

        <div id="stimulusTarget">&nbsp;</div>

        <!-- Progress bar while resuming -->
        {{#if inResume}}
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <br /><br />
                <h2>Loading...</h2>
                <!-- <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuemin="0" aria-valuemax="100"
                        aria-valuenow="50" style="width: 50%; min-width: 2em;">
                        <span id="resumeMsg">Working...</span>
                    </div>
                </div> -->
            </div>
        </div>
        {{/if}}

        {{#if trial}}
        <div class="row">
            <div class="marginLeftAndRight alert alert-info {{fontSizeClass}}" id="textQuestion" >
                {{#if textOrClozeCard}}
                {{{currentQuestion}}}
                {{/if}}
                {{#if audioCard}}
                <img src="images/speaker.png" class="sound-img">
                {{/if}}
                {{#if imageCard}}
                <!--<img id="cardQuestionImg" src={{currentQuestion}}>-->
                <img id="cardQuestionImg" src={{curImageSrc}}>
                {{/if}}
                {{#if videoCard}}
                <video width="95%" autoplay>
                    <source src="{{currentQuestion}}">
                    Your browser does not support the video tag.
                </video>
                {{/if}}
            </div>
        </div>  <!-- close row -->
        {{/if}}

        {{#if study}}
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 {{fontSizeClass}}">
                {{#unless clozeCard}}
                <p id="answerLabel" class="alert alert-info">{{displayAnswer}}</p>
                {{/unless}}
                <div>
                    {{#if skipstudy}}
                    <button type='button' id='continueStudy' name='continueStudy' class='btn btn-block btn-responsive' disabled>
                        Continue
                    </button>
                    {{/if}}
                </div>
            </div>  <!-- close column -->
        </div>  <!-- close row -->
        {{/if}}

        {{#if testordrill}}
            {{#unless buttonTrial}}
            <div class="row" id="textEntryRow">
                <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    {{> inputF}}
                </div>
            </div>  <!-- close row -->
            {{/unless}}

            <div class="row">
                {{#if buttonTrial}}
                  {{#if audioEnabled}}
                    <p class="marginLeftAndRight text-center">Please speak the letter next to the correct option for audio input</p>
                  {{/if}}
                {{/if}}
                <div class="col-md-12">
                    <div id="multipleChoiceContainer">
                        <!-- will contain multiple choice buttons which are dynamically added. -->
                        {{#if buttonTrial}}
                          <table id="multipleChoiceTable">
                              {{#if imageResponse}}
                                {{#each buttonListImageRows}}
                                  <tr>
                                    {{#each this}}
                                      {{#if audioEnabled}}
                                        <td><label style="margin-bottom:0px">{{verbalChoice}}.</label></td>
                                        <td>&nbsp;</td>
                                      {{/if}}
                                      <td class="td-img">
                                        <button style="background: url({{buttonValue}});background-size:100%;background-repeat: no-repeat;" verbalChoice='{{verbalChoice}}' type='button' name='{{buttonName}}' class='btnPaddedAndMinWidth btn-alt btn-block multipleChoiceButton btn-image btn-responsive'>
                                        </button>
                                      </td>
                                    {{/each}}
                                  </tr>
                                {{/each}}
                              {{else}}
                                {{#each buttonList}}
                                  <tr>
                                    {{#if audioEnabled}}
                                      <td><label style="margin-bottom:0px">{{verbalChoice}}.</label></td>
                                      <td>&nbsp;</td>
                                    {{/if}}
                                      <td>
                                        <button verbalChoice='{{verbalChoice}}' type='button' name='{{buttonName}}' class='btnPaddedAndMinWidth btn btn-block multipleChoiceButton btn-responsive'>
                                          {{buttonValue}}
                                        </button>
                                      </td>
                                  </tr>
                                {{/each}}
                              {{/if}}

                          </table>
                        {{/if}}
                    </div>
                </div>
            </div> <!-- close row -->
        {{/if}}

        <div class="userInteractionContainer">
            <div class="row">
                <div class="marginLeftAndRight {{fontSizeClass}}" id="UserInteraction" hidden>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 {{fontSizeClass}}" id="forceCorrectionEntry" hidden>
                    {{> inputForceCorrect}}
                </div>
            </div>
        </div>

        {{#if isInRole 'teacher'}}
        <div class="row">
            <div class="col-lg-12 visible-text text-center">
                {{#if displayAnswer}}<h5>Teacher Aid (Answer): {{displayAnswer}}</h5>{{/if}}
                {{#if currentProgress}}<h5>Current Progress: {{currentProgress}}</h5>{{/if}}
                {{#if rawAnswer}}<h5>Teacher Aid (Raw Answer Text): {{rawAnswer}}</h5>{{/if}}
            </div>
        </div>
        {{/if}}

        <div class="row">
            <div hidden  class="col-lg-offset-2 col-lg-5" style="text-align: center;" id="overlearningRow">
                <h4 style=" color: #585858;">You are currently overlearning!  Please consider taking a break and coming back later.</h4>
                <button id="overlearningButton" type="button" class="btn btn-responsive" style="width: auto;">Practice</button>
            </div>
        </div>

        <div id="feedbackTarget">&nbsp;</div>

        <!-- Modal -->
        <div class="modal fade" id="finalInstructionsDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header visible-text">
                        <button type="button" class="close instructModalDismiss" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Good Bye</h4>
                    </div>
                    <div class="modal-body visible-text">
                        <div id="finalInstructionsText"></div>
                    </div>
                    <div class="modal-footer visible-text">
                        <button type="button" class="btn btn-default btn-responsive instructModalDismiss" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- close container -->

    <div id="postCardContainer">&nbsp;</div>


    <!-- Use a fixed footer if we have something to show -->
    {{#if haveDispTimeout}}
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                <ul class="nav nav-justified">
                    <li>&nbsp;</li>
                    <li>
                        <button type="button" id="continueButton" class="button btn navbar-btn text-center" style="text-align:center; white-space:nowrap;" disabled>
                            Continue
                            <span id="displayTimeoutMsg"></span>
                        </button>
                    </li>
                    <li>&nbsp;</li>
                </ul>
            </div>  <!-- close header -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->
    {{/if}}

</template>
