<template name="choose">
    <div class="container">
        <legend class="text-center">Select A System</legend>
        <div class="marginLeftAndRight row" id="chooseButtonContainer">
            <a href="#" class="btn btn-info studentButton" role="button">All Students</a>
            <br><br>
            <a href="#" class="btn btn-info itemsButton" role="button">All Items</a>
        </div>
    </div>
</template>
