<!-- Content (TDF and Stim) File Uploading Template -->

<template name="contentUpload">
    <br><br>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#contentUploadCollapse" aria-expanded="false" aria-controls="contentUploadCollapse">
                Content and File Uploading
            </button>
        </div>
    </div>

    <div class="row collapse" id="contentUploadCollapse">
        <div class="col-md-3">
            <legend class="text-center">Upload TDF File</legend>
            <div class="form-group">
                <span class="btn btn-default btn-file">
                    Browse
                    <input type="file" class="form-control" name="upload-tdf" id="upload-tdf" value="" placeholder="TDF File">
                    <span class='label label-info file-info' id="tdf-file-info"></span>
                </span>
            </div>
            <button type='button' id='doUploadTDF' class='btn btn-fix'>
                Upload TDF File
            </button>
        </div>

        <div class="col-md-3">
            <legend class="text-center">Upload Stimulus File</legend>
            <div class="form-group">
                <span class="btn btn-default btn-file">
                    Browse
                    <input type="file" class="form-control" name="upload-stim" id="upload-stim" value="" placeholder="Stimulus File">
                    <span class='label label-info file-info' id="stim-file-info"></span>
                </span>
            </div>
            <button type='button' id='doUploadStim' class='btn btn-fix'>
                Upload Stimulus File
            </button>
        </div>

        <div class="col-md-6 responsiveTable">
            <legend class="text-center">Uploaded Files</legend>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userFiles}}
                        <tr>
                            <td>{{type}}</td>
                            <td>{{fileName}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
