<template name="Items">
    <!-- Adds the two button containers to house the items-->
    <div class="container">
        <legend class="text-center">Select an Item</legend>
        <div class="row" id="itemButtonContainer1">
            <div class="wrapper">
                    <input type="submit" class="switchButton" value="Switch Button Labels">
            </div>
            {{#each item in items}}
                {{#if item.clickable}}
                    <div class='col-sm-3 col-md-3 col-lg-3 text-center'><br>
                        <input type="button" class="btn btn-block stimButton" id="{{item.itemId}}" value="{{item.display}}" style="background-color: {{item.buttonColor}};">
                    </div>
                {{else}}
                    <div class='col-sm-3 col-md-3 col-lg-3 text-center'><br>
                        <input type="button" class="btn btn-block stimButton" id="{{item.itemId}}" value="{{item.display}}" disabled style="background-color: {{item.buttonColor}};">
                    </div>
                {{/if}}
             {{/each}}

        </div>

        <div class="row" id="itemButtonContainer2" style="display: none;">
            <div class="wrapper">
                    <input type="submit" class="switchButton" value="Switch Button Labels">
            </div>
            {{#each item in items}}
                {{#if item.clickable}}
                    <div class='col-sm-3 col-md-3 col-lg-3 text-center'><br>
                        <input type="button" class="btn btn-block stimButton" id="{{item.itemId}}" value="{{item.response}}" style="background-color: {{item.buttonColor}};">
                    </div>
                {{else}}
                    <div class='col-sm-3 col-md-3 col-lg-3 text-center'><br>
                        <input type="button" class="btn btn-block stimButton" id="{{item.itemId}}" value="{{item.response}}" disabled style="background-color: {{item.buttonColor}};">
                    </div>
                {{/if}}
             {{/each}}

        </div>
    </div>
</template>
