<template name="itemStats">
   <div class="container">
      <div class="titleContainer" style="display:block">
         <div class="title toggled displayed" id="reptitionLatencyTitle">
            <legend class="text-center">Latency / Reptition</legend>
         </div>
         <div class="title toggled" id="reptitionCorrectnessTitle">
            <legend class="text-center">Correctness / Reptition</legend>
         </div>
         <div class="wrapper" style="text-align:center">
            <input type="submit" class="switchButton" value="Change Graph">
         </div>
         <br>
      </div>
      <div class="graphs">
         <div class="ct-chart .ct-major-twelfth show-axis toggled displayed" data-x-axis="Repetition" data-y-axis="Latency (ms)" id="reptitionLatency"></div>
         <div class="ct-chart .ct-major-twelfth show-axis toggled" data-x-axis="Repetition" data-y-axis="Correctness (%)" id="reptitionCorrectness"></div>
      </div>
      <div class="legend">
         <svg height="10" width="35">
            <line x1="10" y1="5" x2="35" y2="5" style="stroke:#C40233;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
         </svg> - <b>Class</b>
      </div>
   </div>

</template>
