<!-- MAIN profile template -->
<template name="profile">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <div class="container">
      <div class="padLeftAndRight row" id="toggleSwitchContainer">
          <div>
            <div class="flow">
              <label class="switch text-center">
                <input name="audioToggle" id="audioToggle" type="checkbox">
                <span class="slider round"></span>
              </label>
              <p class="text-left">Enable audio input</p>
            </div>
            <div class="audioEnabledGroup invisible">
              <input type="range" style="width:250px" id="audioInputSensitivity" value="20" step="1" min="0" max="60">
              <div>
                <p class='flow'>Audio input sensitivity:</p>
                <p class='flow' id="audioInputSensitivityLabel">20</p>
              </div>
            </div>
            <div class="audioEnabledGroup invisible">
              {{#if speechAPIKeyIsSetup}}
                <p style="color:green">Speech api key is setup</p>
              {{else}}
                <p style="color:red">Speech api key is not setup</p>
              {{/if}}
              <button id='setupAPIKey' class="marginBottom">Set up API Key</button>
            </div>
          </div>
          <div>
            <div class="flow">
              <label class="switch text-center">
                <input name="audioPromptFeedbackToggle" id="audioPromptFeedbackToggle" type="checkbox">
                <span class="slider round"></span>
              </label>
              <p class="text-left">Enable audio prompt/feedback</p>
            </div>
            <div class="audioPromptFeedbackGroup invisible">
              <input type="range" style="width:250px" id="audioPromptSpeakingRate" value="1" step="0.1" min="0.1" max="2">
              <div>
                <p class='flow'>Audio prompt speaking rate:</p>
                <p class='flow' id="audioPromptSpeakingRateLabel">1</p>
              </div>
            </div>
          </div>
          <div id='speechAPIModal' class="modal fade">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title">Google Speech API Key Setup</h4>
                </div>
                <div class="modal-body">
                  <p>If you haven't already please enable the Google Speech API
                    and generate a Google Speech API key by following the instructions
                    <a href="https://support.google.com/cloud/answer/6158862?hl=en" target="_blank">here</a>.</p>
                  <label>Google Speech API Key:</label>
                  <input type="text" id='speechAPIKey'>
                </div>
                <div class="modal-footer">
                  <button id='speechAPISubmit' type="button" class="btn-primary flow">Save changes</button>
                  <button id='speechAPIDelete' type="button" class="btn-danger flow">Delete API Key</button>
                </div>
              </div>
            </div>
          </div>
      </div>
        {{#unless isInRole 'admin,teacher'}}
            <br>

            <div class="row" id="testButtonContainer">
                <legend class="text-center">
                    Practice modules:
                </legend>
            </div>
        {{/unless}}

        {{#if isInRole 'admin,teacher'}}
            {{> turkWorkflow}}
            <br><br>

            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#testButtonContainer" aria-expanded="false" aria-controls="testButtonContainer">
                        TDF Practice
                    </button>
                </div>
            </div>
            <div class="row collapse" id="testButtonContainer">
                <legend class="text-center">
                    Practice modules:
                    <br>
                    <input type="checkbox" name="simulation" id="simulation" checked={{simulationChecked}}> Simulate if TDF param present?
                </legend>
            </div>

            {{> contentUpload}}
            {{> userProfileEdit}}
            {{#if isInRole 'admin'}}
                {{> userAdmin}}
            {{/if}}
            {{#if isInRole 'admin, teacher'}}
                {{> classEdit}}
            {{/if}}
            {{#if isInRole 'admin, teacher'}}
                {{> tdfAssignmentEdit}}
            {{/if}}
            {{#if isInRole 'admin, teacher'}}
                {{> teacherReporting}}
            {{/if}}
        {{/if}}

        <br><br>
        {{> about}}
    </div>
</template>
