<template name="studentReporting">
  {{#if isInRole 'admin, teacher'}}
    <legend class="text-center">Student Reporting - {{studentUsername}}</legend>
  {{else}}
    <legend class="text-center">Student Reporting - {{currentUser.username}}</legend>
  {{/if}}
  <div>
    <div>
      <h3>Select Chapter</h3>
      <select id="tdf-select">
          <option selected="selected" value="invalid" disabled="true">Select a tdf</option>
          <option value="xml">All</option>
          {{#each tdfs}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
    </div>
    <div>
      <h3>Progress Data</h3>
      <table border="1">
        <tr><th class="thWide">% Correct</th><th class="thWide">Count</th><th>Total Time (seconds)</th></tr>
          <tr>
            <td>{{curStudentPerformance.percentCorrect}}</td>
            <td>{{curStudentPerformance.count}}</td>
            <td>{{curStudentPerformance.totalTime}}</td>
          </tr>
      </table>
    </div>
    <div>
      <h3>Progress Charts</h3>
      <div>
        <div class="graphs">
         <div style="left: unset;" class="ct-chart .ct-major-twelfth show-axis-labels toggled displayed" id="correctnessChart"></div>
        </div>
        <div class="graphs">
         <div style="left: unset;" class="ct-chart .ct-major-twelfth show-axis-labels toggled displayed" id="stimProbsChart"></div>
        </div>
      </div>
    </div>
  </div>
</template>
