<template name="student">
   <div class="container" style="padding-left: 30px;">
      <div class="titleContainer" style="display:block">
         <div class="title toggled displayed" id="repetitionLatencyTitle">
            <legend class="text-center">Latency / Repetition</legend>
         </div>
         <div class="title toggled" id="repetitionCorrectnessTitle">
            <legend class="text-center">Correctness / Repetition</legend>
         </div>
         <div class="wrapper" style="text-align:center">
            <input type="submit" class="switchButton" value="Change Graph">
         </div>
         <br>
      </div>
      <div class="graphs">
         <div class="ct-chart .ct-major-twelfth show-axis toggled displayed" data-x-axis="Repetition" data-y-axis="Latency (ms)" id="repetitionLatency"></div>
         <div class="ct-chart .ct-major-twelfth show-axis toggled" data-x-axis="Repetition" data-y-axis="Correctness (%)" id="repetitionCorrectness"></div>
      </div>
      <div class="legend" style="padding-bottom: 5%;">
         {{#if isInRole 'admin,teacher'}}
         <svg height="10" width="35">
            <line x1="10" y1="5" x2="35" y2="5" style="stroke:#0087BD;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
         </svg> - <b>Class</b>
         <svg height="10" width="35">
            <line x1="10" y1="5" x2="35" y2="5" style="stroke:#C40233;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
         </svg> - <b>{{selectedUsername}}</b>
         {{else}}
         <svg height="10" width="35">
            <line x1="10" y1="5" x2="35" y2="5" style="stroke:#C40233;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
         </svg> - <b>{{selectedUsername}}</b>
         {{/if}}
      </div>
   </div>
     <div class="container">
         <div class="responsiveTable">
             <table class="table table-bordered">
                 <thead>
                     <tr>
                         <th>Item Name</th>
                         <th>Correctness Ratio</th>
                         <th>Average Latency</th>
                         <th>Repetitions</th>
                     </tr>
                 </thead>
                 <tbody>
                     {{#each item in itemData}}
                     <tr>
                         <td>{{item.name}}</td>
                         <td class="numeric-cell">{{item.correctRatio}}</td>
                         <td class="numeric-cell">{{item.avgLatency}}ms</td>
                         <td class="numeric-cell">{{item.repetitions}}</td>
                     </tr>
                     {{/each}}
                 </tbody>
             </table>
         </div>
     </div>

</template>
